.section1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main_img{
    width: 60%;
}
.main_img img{
    width: 100%;
}
.main_heading{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-end;
    text-align: right;
}
.main_heading h1{
    font-size: 11vmin;
    font-family: 'poppins';
    width: 100%;
}
.main_heading button{
    align-self: flex-end;
    background-color: #000000;
    border: none;
    outline: none;
    padding: 10px 45px;
    color: white;
    font-family: 'poppins';
    font-size: 2.2vmin;
    border-radius: 6px;
}
